@{
    ViewData["Title"] = "Movie Deletion Confirmation";
}
@model MovieSubmissionModel

<h3>Are you sure you want to delete  @Model.Title? </h3>

<form asp-controller="Home" asp-action="Delete" method="post">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn-primary">Cancel</a>
    <input type="hidden" asp-for="MovieId" />
</form>