@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<h1>Welcome to the Joel Hilton Film Collection</h1>
<img src="~/img/JoelHiltonHeadshot.jpg" alt="The math, myth and legend" height="400"/>
