@{
    ViewData["Title"] = "The Joel Hilton Film Collection";

}

@model Movies.Models.MovieSubmissionModel

<h1>Enter the movie details: </h1>
<div>
    <form method="post">
        <!-- Outputs form boxes and receives inputs -->
        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>

        <br />
        <br />

        <label asp-for="Edited">Edited: </label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <br />
        <br />

        <label asp-for="Lent">Lent: </label>
        <input asp-for="Lent" />

        <br />
        <br />

        <label asp-for="Notes">Notes: </label>
        <input asp-for="Notes" />

        <br />
        <br />

        <!-- Submits the form -->
        <button type="submit">Submit Movie!</button>

    </form>
</div>